{% extends "base.html.twig" %}

{% block header %}
    {% block header_nav %}
        <!-- Navigation-->
        <nav class="navbar navbar-expand-lg navbar-light" id="mainNav">
            <div class="container px-4 px-lg-5">
                {% block navbar_brand %}
                    <p class="navbar-brand">Anthony Cecconato</p>
                {% endblock %}
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarResponsive"
                        aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                    Menu
                    <i class="fas fa-bars"></i>
                </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ms-auto py-4 py-lg-0">
                        <li class="nav-item">
                            <a class="nav-link px-lg-3 py-3 py-lg-4" href="{{ path('home') }}">
                                Accueil
                            </a>
                        </li>
                        <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4" href="{{ path('about') }}">
                                À propos de moi</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    {% endblock %}

    {% block header_content %}
        <!-- Page Header-->
        <header class="masthead"
                {% block header_bg_style %}style="background-image: url('img/home-bg.jpg')"{% endblock %}>
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="site-heading">
                            {% block page_title %}
                                <h2>Page title</h2>
                                <span class="subheading mt-5">Default subheading</span>
                            {% endblock %}
                        </div>
                    </div>
                </div>
            </div>
        </header>
    {% endblock %}

{% endblock %}

{% block body %}
    <main>
        {% block page_content %}{% endblock %}
    </main>
{% endblock %}

{% block footer %}
    <!-- Footer-->
    <footer class="border-top">
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-xl-8">
                    <ul class="list-group list-group-horizontal justify-content-center align-items-center">
                        <li class="list-group-item border-0"><a href="#">Mentions légales</a></li>
                        <li class="list-group-item border-0"><a href="#">Politique de confidentialité</a></li>
                        {% if auth.isLoggedIn %}
                            <li class="list-group-item border-0"><a href="{{ path('logout') }}">Déconnexion</a></li>
                        {% else %}
                            <li class="list-group-item border-0"><a href="{{ path('login') }}">Connexion</a></li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>
    </footer>
{% endblock %}