{% extends "layouts/layout.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('home') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('home', {defer: true}) }}
{% endblock %}

{% block header_bg_style %}style="background-image: url('img/about-bg.jpg')"{% endblock %}

{% block page_title %}
    <h1>À propos de moi</h1>
    <span class="subheading mt-5">Anthony Cecconato, développeur web et web mobile</span>
{% endblock %}

{% block page_content %}
    <!-- Main Content-->
    <main class="mb-4">
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    <p>💻 Développeur chez Mobiloweb, une agence web locale qui crée et s'occupe de sites vitrines,
                        d'applications web, et de sites e-commerce, où j'ai la chance d'effectuer des tâches diverses et
                        variées, comme le développement d'une application mobile React Native, du développement
                        spécifique, du debug, ou encore la gestion de 2 vps hébergeant une quarantaine de sites.</p>

                    <p>🎓 Je continue mon apprentissage en suivant une formation de développeur PHP / Symfony, dans la
                        même agence, afin de développer mes compétences de développement et de conception d'une
                        application complexe, de la modélisation UML jusqu'à la création de l'application et de son
                        architecture, en respectant les bonnes pratiques.</p>

                    <p>🧑‍💻 J'ai également un statut d'EI, avec lequel j'ai eu l'opportunité de réaliser quelques
                        missions Symfony sur Upwork pour une agence de communication basée à Paris. J'ai aussi développé
                        quelques sites Wordpress et Prestashop pour des clients.</p>

                    <p>🌎 Pour terminer, je suis responsable du pôle informatique de l'association Partage ton Monde ;
                        une association à but non lucratif, qui acte pour un monde meilleur. Nous sommes implémentés en
                        France, à l'Île de la Réunion, en Afrique et aux États-Unis.</p>

                    <a href="pdf/CV_Anthony_CECCONATO.pdf" class="btn btn-primary">Voir mon CV</a>
                </div>
            </div>
        </div>
    </main>
{% endblock %}
