{% extends 'layouts/dashboard_layout.html.twig' %}

{% block page_content %}
    <main id="dashboard" class="mt-5 pt-md-5 mb-5">
        <div class="container mt-5 pt-5 px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="row col-12">

                    <table class="table table-borderless table-striped">
                        <thead>
                        <tr>
                            <th scope="col">Date</th>
                            <th scope="col">Auteur</th>
                            <th scope="col">Contenu</th>
                            <th scope="col">Signalements</th>
                            <th scope="col"></th>
                        </tr>
                        </thead>
                        <tbody>
                        {% if comments is not empty and comments is iterable %}
                            {% for comment in comments %}
                                <tr>
                                    <td>
                                        {{ comment.createdAt|format_datetime(locale='fr', pattern='dd MMM YYYY') }}
                                    </td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td class="actions d-flex flex-column">
                                        <a href="{{ path('admin_delete_comment', {id: comment.id}) }}"
                                           id="btn-delete"
                                           class="btn btn-lg"
                                           title="Supprimer"
                                        >
                                            <i class="fa fa-trash text-secondary"></i>
                                        </a>
                                    </td>
                                </tr>
                            {% endfor %}
                        {% endif %}
                        </tbody>
                    </table>

                    {% if comments is empty %}
                        <p class="alert alert-info">Il n y a pas encore de commentaires</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </main>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <script defer>
        document.addEventListener('DOMContentLoaded', () => {
            const btns = document.querySelectorAll('#btn-delete');
            btns.forEach((btn) => {
                btn.addEventListener('click', (event) => {
                    if (!window.confirm('Êtes-vous certain de vouloir supprimer ce commentaire ?')) {
                        event.preventDefault();
                    }
                });
            })
        })
    </script>
{% endblock %}

