{% extends 'layouts/dashboard_layout.html.twig' %}

{% block page_content %}
    <main id="dashboard" class="mt-5 pt-md-5 mb-5">
        <div class="container mt-5 pt-5 px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <form method="post" id="comments-form">
                    <div class="form-floating mb-4">
                        <input class="form-control" id="name" type="text" placeholder="Votre pseudo" required/>
                        <label for="name">Titre</label>
                    </div>

                    <div class="form-floating mb-4">
                        <textarea class="form-control" placeholder="Votre commentaire" id="comment[content]"
                                  required></textarea>
                        <label for="comment[content]">Description blabla</label>
                    </div>

                    <button class="btn btn-primary" id="submitButton" type="submit">Envoyer</button>
                </form>
            </div>
        </div>
    </main>
{% endblock %}