header.masthead:before {
  opacity: 0.7;
}

h1.navbar-brand {
  margin: 32px 0;
  color: white;
}

.masthead {
  img {
    width: 200px;
    height: 200px;
    object-fit: cover;
  }
}

@media (min-width: 992px) {
  #mainNav.is-fixed {
    top: -116px;
  }
}

.highlight-container, .highlight {
  position: relative;
}

.highlight-container {
  display: inline-block;
}

.highlight-container:before {
  content: " ";
  display: block;
  height: 90%;
  width: 100%;
  margin-left: -3px;
  margin-right: -3px;
  position: absolute;
  background: #0085a1;
  transform: rotate(2deg);
  top: -1px;
  left: -1px;
  border-radius: 20% 25% 20% 24%;
  padding: 10px 3px 3px 10px;
}

.fa-xl {
  font-size: 2.5rem;
}

.site-heading {
  li {
    transform: scale(1);
    transition: all 0.2s;
  }

  li:hover {
    transform: scale(1.2);
    transition: all 0.3s;
    z-index: 99;
  }
}

#contactForm {
  textarea {
    height: 150px;
  }
}

.post-thumb {
  object-fit: cover;
  height: 250px;
  width: 250px;
}
